<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spelling Test App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="centered-content">
        <h1>Spelling Test</h1>
        <div id="test-setup">
            <label for="num-words">Number of words:</label>
            <input type="number" id="num-words" min="1" max="100" value="10">
            <button onclick="startTest()">Start Test</button>
        </div>
        <div id="test-area" style="display:none;">
            <h2>Listen and spell:</h2>
            <button onclick="playCurrentWord()">Play Word</button>
            <button onclick="stopTalking()" class="stop-button">Stop Talking</button>
            <input type="text" id="user-input">
            <button onclick="submitWord()">Submit</button>
            <p id="current-sentence"></p>
        </div>
        <div id="results" style="display:none;">
            <h2>Results</h2>
            <p>Score: <span id="score"></span></p>
            <p>Incorrect words: <span id="incorrect-words"></span></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
